{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="row">
		 <h1>What does PBR stand for?</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<form action={{ url_for("renderPage2") }} method="POST">
					<input type="radio" id="Op1" value="ProcedualBackfaceRastering" name="Q1">
					<label for="Op1">Procedual Backface Rastering</label><br>
					<input type="radio" id="Op2" value="ProBoxRaytracer" name="Q1">
					<label for="Op1">Pro Box Raytracer</label><br>
					<input type="radio" id="Op3" value="ProccesedBagroundRadiocity" name="Q1">
					<label for="Op1">Proccesed Baground Radiocity</label><br>
					<input type="radio" id="Op4" value="PhysicallyBasedRendering" name="Q1">
					<label for="Op1">Physically Based Rendering</label><br>
					<input type="submit" class="btn btn-primary"  value="Submit">
				</form> 
			</div>
		</div>
	</div>


{% endblock %}
