{% extends "layout.html" %}

{% block title %}Page 3: Ask for your favorite color{% endblock %}

{% block content %}
	<div class="container mt-5 question">
		<div class="row">
		 <h1>What is the name of this type of texture?</h1>
		 <div class="image">
			<img src="../static/images/flatColor.jpg" alt="Flat Color Texture">
		 </div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<form action={{ url_for("renderPage4") }} method="POST">
					<input type="radio" id="Op1" value="Albedo" name="Q3">
					<label for="Op1">Albedo</label><br>
					<input type="radio" id="Op2" value="Normal" name="Q3">
					<label for="Op2">Normal</label><br>
					<input type="radio" id="Op3" value="Roughness" name="Q3">
					<label for="Op3">Roughness</label><br>
					<input type="radio" id="Op4" value="AO" name="Q3">
					<label for="Op4">AO</label><br>
					<input type="submit" class="btn btn-primary"  value="Submit">
				</form> 
			</div>
		</div>
	</div>



{% endblock %}
