{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
	<div class="container mt-5 question fadeup">
		<div class="row">
		 <h1>What does PBR stand for?</h1>
		</div>
		<div class="row">
			<div class="col">
				<form action={{ url_for("renderPage2") }} method="POST">
					<input type="radio" id="Op1" value="ProcedualBackfaceRastering" name="Q1">
					<label for="Op1" class="selection">Procedual Backface Rastering</label><br>
					<input type="radio" id="Op2" value="ProBoxRaytracer" name="Q1">
					<label for="Op2" class="selection">Pro Box Raytracer</label><br>
					<input type="radio" id="Op3" value="ProccesedBagroundRadiocity" name="Q1">
					<label for="Op3" class="selection">Proccesed Baground Radiocity</label><br>
					<input type="radio" id="Op4" value="PhysicallyBasedRendering" name="Q1">
					<label for="Op4" class="selection">Physically Based Rendering</label><br>
					<input type="submit" class="btn btn-primary"  value="Submit">
				</form> 
			</div>
		</div>
	</div>


{% endblock %}
