{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}
	<div class="container mt-5 question fadeup">
		<div class="row">
		 <h1>What is NVIDA DLSS?</h1>
		</div>
		<div class="row">
			<div class="col">
				<form action={{ url_for("renderPage3") }} method="POST">
					<input type="radio" id="Op1" value="ResponseTime" name="Q2">
					<label for="Op1" class="selection">It improves response time.</label><br>
					<input type="radio" id="Op2" value="RaytracingAlgorithum" name="Q2">
					<label for="Op2" class="selection">It's a raytracing algorithum.</label><br>
					<input type="radio" id="Op3" value="BitCoinMiner" name="Q2">
					<label for="Op3" class="selection">It's a bit coin miner.</label><br>
					<input type="radio" id="Op4" value="AIUpscaller" name="Q2">
					<label for="Op4" class="selection">It's a real-time AI upscaller.</label><br>
					<input type="submit" class="btn btn-primary"  value="Submit">
				</form> 
			</div>
		</div>
	</div>



{% endblock %}
